.list-item {
    list-style-type: none;
}

.list-item:not(:last-child) {
    margin-bottom: 10px;
}

.container {
    position: relative;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.container-list {
    position: absolute;
    left: calc(50% - 52px);
    padding-left: 0;
}

.list-item {
    display: flex;
}

.item-title {
    justify-self: left;
    width: 70px;
}

.item-checkbox {
    justify-self: flex-end;
}

